* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.fav {
    background: #f3ecfe;
}

html,
body {
    width: 100%;
    height: 100%;
    display: flex;
}

.section {
    padding: 40px 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

#wrapper {
    padding: 0;
    margin: 0;
    flex: 1;
    display: flex;
    flex-direction: column;
}

#header {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background: #7433f1;
}

#searchbar {
    display: flex;
    width: 100%;
    height: 40px;
    margin-bottom: 40px;
}

#main {
    display: flex;
    flex-direction: row;
    flex: 1;
}

input,
button {
    height: 100%;
    border-radius: 4px;
    overflow: hidden;
}

input {
    margin-right: 20px;
    flex: 1;
    border: none;
    padding: 2px;
    border: 1px solid black;
    padding-left: 10px;
}

button {
    width: 120px;
    color: white;
    background: #7433f1;
}

table {
    width: 100%;
}

th {
    text-align: left;
}

td {
    width: 20%;
}

td a {
    float: right;
}

tr {
    height: 30px;
}
